%h2 level 3
.row.marketing
  .col-lg-6
    %h3 Signup
    %p Try signing up as an admin
    %form{ action: "/level3/signup", method: "post"}
      %label Username
      %input{ type: "text", name: "username", class: "text"}
      %br
      %label Password
      %input{type: "password", name: "password"}
      %br
      %input{type: "submit", value: "Send", class: "button"}
  .col-lg-6
    %h3 Sign In
    %p Login to see if you're an admin
    %form{ action: "/level3/signin", method: "post"}
      %label Username
      %input{ type: "text", name: "username", class: "text"}
      %br
      %label Password
      %input{type: "password", name: "password"}
      %br
      %input{type: "submit", value: "Send", class: "button"}
